body {
    font-family: 'Overused Grotesk', sans-serif;
    background-color: #FAFBFC;
    /* #FAFBFC */
    /* background-color: #222; */
    /* overflow-y: hidden; */
    overflow-x: hidden;
    transition: background-color 0.5s ease;
}

html {
    scroll-behavior: smooth;
}

.dark-mode {
    background-color: #222;
    color: #fff;
}

body.dark-mode a,
body.dark-mode nav,
body.dark-mode p,
body.dark-mode h2,
body.dark-mode h1,
body.dark-mode .divProj,
body.dark-mode .text-field,
body.dark-mode .github,
body.dark-mode #projectText,
body.dark-mode .fa-arrow-down {
    color: #dde5ec;
}

body.dark-mode .nav-mobile {
    color: black;
}

body.dark-mode .dark-name:hover {
    background-color: #2e2e2e;
}

body.dark-mode .container-dark {
    background-color: #2e2e2e;
}

body.dark-mode .btn-dark {
    background-color: #dde5ec;
    color: #222;
}

body::-webkit-scrollbar {
    width: 6px;
}

body::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 3px;
}

body::-webkit-scrollbar-thumb:hover {
    background: #555;
}

#projectText {
    -webkit-text-stroke: 4px;
    -webkit-text-fill-color: transparent;
}

#projectText {
    transition: cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

.container-nav {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(6px);
}

.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

.underline-thick {
    text-decoration-thickness: 2px;
}

.small-text {
    font-size: 0.6rem;
}

#projectText {
    font-size: 15rem;
    line-height: 1;
}

@media (max-width: 768px) {
    #projectText {
        font-size: 6rem;
        max-width: 100%;
    }
}

@media (max-width: 820px) {
    #projectText {
        font-size: 10rem;
        max-width: 100%;
    }
}

.bg-Proj {
    background-image: url('/images/project_bg.png');
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}